<!DOCTYPE html>
<html>
    <head>
        <title>DjangoMan blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">DjangoMan Blog</a></h1>
        </header>
        {% for post in posts %}
            <article>
                <time>published: {{post.published_date}}</time>
                <h2><a href="">{{post.title}}</a></h2>
                <p>{{post.text|linebreaksbr}}</p>  <!--variables in django templates printing-->
            </article>
        {% endfor %}
    </body>
</html>